.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
}

.card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 300px; /* Establece una altura mínima fija para cada card */
  /* Ajusta la altura mínima según sea necesario */
}
.card:hover {
  transform: scale(1.1); /* Cambia el tamaño al 110% cuando el mouse pase sobre la card */
}
.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.botonpage {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
}

.labelpage {
  margin: 0 10px;
}